# JavaScript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: geodata/gdal

    steps:
      - checkout
      - run: |
          python -V
          python3 -V
             
      # prep
      # for ogr2ogr 
      # python 3.6 (ubuntu 14.04)
      # https://askubuntu.com/questions/865554/how-do-i-install-python-3-6-using-apt-get
      
      - run: |
          sudo apt-get update -y      # should be changed to apt update
          sudo apt-get install git -y # should be changed to apt install
          sudo apt-get install build-essential libsqlite3-dev zlib1g-dev -y # should be changed to apt install
          sudo add-apt-repository ppa:deadsnakes/ppa -y # python 3.6 (ubuntu 14.04)
          sudo apt-get update -y # python 3.6 (ubuntu 14.04)
          sudo apt-get install python3.6 -y # python 3.6 (ubuntu 14.04)
          sudo pip install -U pip --ignore-installed six
          sudo pip install virtualenv virtualenvwrapper

# for ubuntu 14.04(trusty), python3-venv is not supported ( should be 15 or later)
#          pip3 install --user -U setuptools
          
      # install tileset-cli in another shell
      #          git clone git@github.com:mapbox/tilesets-cli.git
      # mkvirtualenv tilesets-cli

      - run: |      
          git clone https://github.com/mapbox/tilesets-cli.git
          cd tilesets-cli
          source /usr/local/bin/virtualenvwrapper.sh          
          mkvirtualenv -p python3.6 tilesets-cli
          python3 -V
          python -V
          pip3 install .

      # install tippecanoe
      - run: |
          git clone -q https://github.com/mapbox/tippecanoe.git
          cd tippecanoe
          make -j
          make install      
      # check whether tilesets are installed or not
      - run: |
          tilesets --help
          tilesets --version


      
