# JavaScript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: geodata/gdal

    steps:
      - checkout
      - run: |
          python -V
          python3 -V
             
      # prep
      # for ogr2ogr 
      
      - run: |
          sudo apt-get update -y      # should be changed to apt update
          sudo apt-get install git -y # should be changed to apt install
          sudo apt-get install build-essential libsqlite3-dev zlib1g-dev -y # should be changed to apt install
          sudo apt install python3-venv python3-pip -y # for python3 # sudo apt-get install python3-pip -y # should be changed to apt install

          pip3 install --user -U setuptools
          
      # install tileset-cli in another shell
      #          git clone git@github.com:mapbox/tilesets-cli.git
      # mkvirtualenv tilesets-cli

      - run: |      
          git clone https://github.com/mapbox/tilesets-cli.git
          cd tilesets-cli
          pip3 install .

      # install tippecanoe
      - run: |
          git clone -q https://github.com/mapbox/tippecanoe.git
          cd tippecanoe
          make -j
          make install      
      # check whether tilesets are installed or not
      - run: |
          tilesets --help
          tilesets --version


      
