# JavaScript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: geodata/gdal

    steps:
      - checkout
      - run: |
          python -V
          python3 -V
          
          sed -i -e 's/${MAPBOX_ACCOUNT_NAME}/'$MAPBOX_ACCOUNT_NAME'/g' sample-recipe.json
          cat sample-recipe.json
             
      # prep
      # for ogr2ogr 
      # python 3.6 (ubuntu 14.04)
      # https://askubuntu.com/questions/865554/how-do-i-install-python-3-6-using-apt-get
      
      # don't forget to add -y
      
      - run: 
          command: exit 1
      
      - run: |
          sudo apt-get update -y      # should be changed to apt update
          sudo apt-get install git -y # should be changed to apt install
          sudo apt-get install jq -y # jq
          sudo apt-get install build-essential libsqlite3-dev zlib1g-dev -y # should be changed to apt install
          sudo add-apt-repository ppa:deadsnakes/ppa -y # python 3.6 (ubuntu 14.04)
          sudo apt-get update -y # python 3.6 (ubuntu 14.04)
          sudo apt-get install python3.6 -y # python 3.6 (ubuntu 14.04)
          sudo apt-get install curl -y
          sudo apt-get install python3.6-venv -y
          curl -O https://bootstrap.pypa.io/get-pip.py
          sudo python3.6 get-pip.py
          sudo ln -sf /usr/bin/python3.6 /usr/bin/python3
          python -V
          python3 -V

# may need virtualenv
# sudo pip install -U pip --ignore-installed six
# sudo pip install virtualenv virtualenvwrapper
# git clone git@github.com:mapbox/tilesets-cli.git
# source /usr/local/bin/virtualenvwrapper.sh          
# mkvirtualenv -p python3.6 tilesets-cli

# for ubuntu 14.04(trusty), python3-venv is not supported ( should be 15 or later)
#          pip3 install --user -U setuptools

      # tileset cli

      - run: |      
          git clone https://github.com/mapbox/tilesets-cli.git
          cd tilesets-cli
          python3 -V
          python -V
          pip3 install .

      # tippecanoe 
      - run: |
          git clone -q https://github.com/mapbox/tippecanoe.git
          cd tippecanoe
          make -j
          make install      

# check whether tilesets are installed or not

# https://click.palletsprojects.com/en/7.x/python3/#python-3-surrogate-handling
# This system supports the C.UTF-8 locale which is recommended.
# You might be able to resolve your issue by exporting the
# following environment variables:
#    export LC_ALL=C.UTF-8
#    export LANG=C.UTF-8      

# tippecanoe

      - run: |
          curl -L -O https://www.naturalearthdata.com/http//www.naturalearthdata.com/download/10m/cultural/ne_10m_railroads.zip
          unzip ne_10m_railroads.zip
          ogr2ogr -f GeoJSON ne_10m_railroads.geojson ne_10m_railroads.shp
          tippecanoe-json-tool ne_10m_railroads.geojson > ne_10m_railroads.geojson.ld
#          file ne_10m_railroads.geojson.ld
#          ls -al ne_10m_railroads.geojson.ld

# tippecanoe -zg -o ne_10m_railroads.mbtiles --drop-densest-as-needed --extend-zooms-if-still-dropping ne_10m_railroads.geojson          


# aws s3 cp /path/to/file s3://{bucket}/{key} --region us-east-1

# tileset
# https://docs.mapbox.com/help/tutorials/get-started-tilesets-api-and-cli/#create-a-tileset-source

      - run: |
          locale -a
          export LC_ALL=C.UTF-8
          export LANG=C.UTF-8
          tilesets --help
          tilesets --version
          
          sed -i -e 's/"${MAPBOX_ACCOUNT_NAME}"/${MAPBOX_ACCOUNT_NAME}/g' sample-recipe.json
          cat sample-recipe.json
          tilesets add-source ${MAPBOX_ACCOUNT_NAME} data-pipeline-demo ne_10m_railroads.geojson.ld
          tilesets create ${MAPBOX_ACCOUNT_NAME}.hello-world-tiles --recipe sample-recipe.json --name "hello from CI"
          tilesets publish ${MAPBOX_ACCOUNT_NAME}.hello-world-tiles

#          tilesets status username.hello-world-tiles          
#          tilesets update-recipe tichimura.ck5ewuing0f8g2onku11d9c13-7hqcm /Users/tomohiroichimura/git/Mapbox/SA/tech-workshop/day5/recipe.json
#          tilesets add-source tichimura day5-source /Users/tomohiroichimura/git/Mapbox/SA/tech-workshop/day5/francespain.json
#          tilesets create day5tileset --recipe /Users/tomohiroichimura/git/Mapbox/SA/tech-workshop/day5/recipe.json --name "Day5 tileset"
#          tilesets publish tichimura.day5tileset


      # check the status of tileset
      - run: |
          locale -a
          export LC_ALL=C.UTF-8
          export LANG=C.UTF-8
          RESULT=0
          echo "Tileset publish has been ongoing..."
          while [ "$RESULT" = "0" ];
          do RESULT=`cat output.json | jq '.success'`;
          echo ".";
          sleep 10;
          done
          echo "Tileset publish has been succeeded."

#          do RESULT=`tilesets status ${MAPBOX_ACCOUNT_NAME}.hello-world-tiles | jq '.success'`;
#           do RESULT=`cat output.json | jq '.success'`;
#          done
